html,
body {
	overflow-x: hidden;
	position: relative;
	z-index: -4;
}
body {
	margin: 0;

	font-family: "Lato", sans-serif;
	font-family: "Varela Round", sans-serif;
}
/*header*/
header {
	position: fixed;
	width: 100%;
	background-color: white;

	padding-bottom: 20px;
}
.fixed-container {
	max-width: 1170px;
}
.header-flex {
	display: flex;
	margin: auto;
	justify-content: space-between;
	align-items: center;
	padding-top: 20px;
	padding-left: 5px;
	padding-right: 5px;
}
.nav-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
a {
	text-decoration: none;
	color: #26272d;
}
li {
	list-style-type: none;
	margin-left: 20;
	margin-right: 20px;
}
.get-app {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 135px;
	height: 45px;
	color: white;
	background-color: #267df4;
	border-radius: 30px;
	border: none;
	outline: none;
	font-size: 16px;
	cursor: pointer;
}
.get-app p {
	padding-left: 10px;
	font-family: "Lato", sans-serif;
}
.get-app-img {
	position: absolute;
	top: 11px;
	left: 14px;
}
.burger-menu {
	display: none;
	width: 30px;
	height: 20px;
	position: relative;
}
.burger-menu span {
	background-color: black;
	border-radius: 5px;
	position: absolute;
	width: 100%;
	height: 2px;
	transition: 0.2s;
	left: 0;
	top: 9px;
}
.burger-menu::before,
.burger-menu::after {
	content: "";
	background-color: black;
	border-radius: 5px;
	position: absolute;
	width: 100%;
	height: 2px;
	transition: 0.2s;
	left: 0;
}
.burger-menu::before {
	top: 0;
}
.burger-menu::after {
	bottom: 0;
}
.lock {
	overflow: hidden;
}
.logo-hidden {
	display: none;
}
.mobile-menu {
	top: 0 !important;
}
/*main*/
main {
	padding-top: 90px;
	position: relative;
	z-index: -3;
}
.top-section {
	background-image: url(../src/banner_background.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	height: 900px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	position: relative;
	z-index: -1;
}

.top-section-flex {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.top-section-phone {
	position: absolute;
	max-width: 300px;
	top: 540px;
}

.top-section-title {
	font-size: 62px;
	text-align: center;
	font-family: "Varela Round", sans-serif;
	margin: 10px;
	margin-top: 90px;
}
.top-section-text {
	max-width: 770px;
	text-align: center;
	font-size: 20px;
	color: #a5a7ac;
	margin: 10px;
}

.features-section {
	width: 100%;
	min-height: 350px;
	background-color: white;
	z-index: 10;
	display: flex;
	justify-content: center;
	padding-top: 115px;
}
.features-section-flex {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	border-bottom: 1px solid #f4f4f4;
}
.features-title {
	color: #26272d;
}
.features-column {
	max-width: 490px;
	padding: 10px;
}
.features-column p {
	color: #8c8f94;
}
.phone-features {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 20px;
}

.phone-img {
	object-fit: cover;
	width: 50%;
}
.learn-more {
	margin-top: 40px;
	width: 140px;
	color: white;
	background-color: #267df4;
	outline: none;
	border: none;
	padding: 15px 30px;
	border-radius: 40px;
	font-family: "Varela Round", sans-serif;
	cursor: pointer;
}
.map-features-flex {
	padding-top: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	flex-wrap: wrap-reverse;
}
.map-img {
	object-fit: cover;
	width: 50%;
}
.partners-text {
	color: #26272d !important;
	font-weight: 600;
}
.map-features {
	display: flex;
	align-items: center;

	flex-wrap: wrap-reverse;
	margin-top: 20px;
}

.intarface-section {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	background-color: #f5f5f8;
	padding-bottom: 130px;
}
.intarface-div {
	justify-content: center;
	align-items: center;
	display: flex;
	overflow-x: hidden;
	width: 100%;
}
.intarface-div img {
	margin-left: 15px;
	margin-right: 15px;
	object-fit: contain;
	-webkit-box-shadow: 0px 0px 44px -4px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 44px -4px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 44px -4px rgba(0, 0, 0, 0.75);
	background-color: #f5f5f8;
}
.main-img {
	box-shadow: none !important;
	margin: 25px !important;
	object-fit: scale-down !important;
}
.interface-title {
	font-size: 42px;
	margin-top: 80px;
	text-align: center;
}
.interface-title::after {
	content: "";
	display: block;
	width: 50px;
	height: 2px;
	background-color: #267df4;

	margin: auto;
	margin-top: 35px;
}
.get-app-title {
	font-size: 42px;
	text-align: center;
	margin-top: 10px;
}
.get-app-intarface {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 135px;
	height: 45px;
	color: white;
	background-color: black;
	border-radius: 30px;
	border: none;
	outline: none;
	font-size: 16px;
	cursor: pointer;
}
.slider-section {
	display: flex;
	background-color: red;
	margin: auto;
	align-items: center;
	justify-content: center;
	padding-top: 100px;
	background-color: transparent;
	padding-bottom: 100px;
}
.slider-container {
	overflow: hidden;
}
.slider-track {
	max-width: 600px;
	display: flex;
	transition: 0.2s;
	margin: auto;
}
.slider-item {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100px;
}
.slider-buttons {
	margin: 10px;
}
.btn-prev {
	order: -1;
}

.item-content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}
.item-name {
	margin-top: 15px;
	font-weight: bold;
}

.plan-section {
	background-color: #f4f4f5;
	padding: 20px 10px;
	z-index: -1;
	min-height: 550px;
	overflow: hidden;
}
.plan {
}
.plan-title {
	font-size: 25px;
	margin-left: 5px;
}
.plan-text {
	padding-top: 100px;
}
.switch {
	display: inline-block;
	width: 260px;
	height: 50px;
	position: absolute;
}
.switch input {
	display: none;
}
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #f3f3f4;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	border: 1px solid #a1a2a4;
	border-radius: 25px;
}
.slider:before {
	position: absolute;
	content: "";
	height: 37px;
	width: 135px;
	left: 4px;
	bottom: 6px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.48);
}

input:checked + .slider:before {
	-webkit-transform: translateX(115px);
	-ms-transform: translateX(115px);
	transform: translateX(115px);
}

.slider.round:before {
	border-radius: 20px;
}
#switch-individual {
	position: absolute;
	z-index: 1;
	top: 15px;
	left: 32px;
	font-size: 16px;
	transition: 0.4s;
	font-weight: bold;
}
#switch-company {
	position: absolute;
	z-index: 1;
	top: 15px;
	left: 160px;
	font-size: 16px;
	color: #a1a2a4;
	transition: 0.4s;
}
.plan-section-flex {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: space-around;
	margin: auto;
	align-self: auto;
}
.plan-card {
	height: 510px;
	width: 315px;
	background-color: white;
	border-radius: 10px;
	display: flex;
	align-items: center;

	flex-direction: column;
}

.plan-card-title {
	font-size: 32px;
	margin-top: 50px;
}
.plan-card-cost {
	margin-top: 30px;
	padding: 5px 15px;
	border: 1px solid #8c8f94;
	border-radius: 30px;
	font-weight: bold;
}
.plan-card-text {
	text-align: center;
	color: #8c8f94;
	font-size: 20px;
	margin-top: 60px;
	margin-bottom: 25px;
}
.plan-card-features {
	margin-top: 25px;
}
.plan-card-button {
	margin-top: 70px;
}
.plan-card-container {
	position: relative;
	height: 50vh;
}
.plan-card-individual {
	position: absolute;
	right: -100px;
	z-index: 1;
	transition: 0.6s;
}
.plan-card-company {
	position: absolute;
	right: -120px;
	top: 15px;
	background-color: #ebebed;
	transition: 0.6s;
}
.subscribe-section-flex {
	margin: auto;
	min-height: 350px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.email-input {
	padding: 15px;
	width: 420px;
	border-radius: 20px;
	outline: none;
	border: 1px solid #d4d4d5;
}
.send-email {
	background-color: #6fc754;
	margin-left: 5px;
}
.email-form {
	display: flex;
}
@media (max-width: 1036px) {
	.phone-features {
		justify-content: center;
	}
	.phone-img {
		width: 100%;
	}
	.map-img {
		width: 100%;
	}
	.plan-section-flex {
		flex-direction: column;
		justify-content: center;
	}
	.plan-card {
		width: 280px;
	}
	.plan-card-individual {
		top: 85px;
		right: -135px;
	}
	.plan-card-company {
		right: -150px;
		top: 95px;
	}
	.plan {
		margin-left: -140px;
	}
	.plan-section {
		min-height: 790px;
	}
	.plan-text {
		display: none;
	}
}
@media (max-width: 768px) {
	main {
		padding-top: 40px;
	}
	.burger-menu {
		display: block;
		margin-right: 15px;
	}
	.header-flex {
		position: fixed;
		height: 100%;
		width: 100%;
		flex-direction: column;
		background-color: white;
		justify-content: center;
		transition: 0.5s;
		overflow: auto;
		top: -150%;
	}
	.nav-container {
		flex-direction: column;
	}
	.nav-item {
		margin: 10px 0;
	}
	.contacts-item {
		margin: 10px 0;
	}
	.logo {
		order: -1;
	}
	.logo-hidden {
		display: block;
		margin-left: 10px;
	}
	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px;
		padding-left: 0;
	}
	.burger-menu.active::before {
		transform: rotate(45deg);
		top: 9px;
		transition: 0.2s;
	}
	.burger-menu.active::after {
		transform: rotate(-45deg);
		bottom: 9px;
		transition: 0.2s;
	}
	.burger-menu.active span {
		transform: scale(0);
	}
	.email-input {
		width: 350px;
	}
}
@media (max-width: 576px) {
	.top-section-title {
		font-size: 40px;
	}
	.top-section-text {
		font-size: 16px;
	}
	.top-section {
		background-size: auto;
		background-attachment: scroll;
	}
	.email-input {
		width: 250px;
	}
	.email-form {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.send-email {
		margin-top: 10px;
		margin-bottom: 10px;
	}
}
